/*
html{
    background-color: black;
}
*/
.header{
    background-color: black;
    font-display: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.href{
    background-color: black;
    color:white;
}

/*
#overnightOats{
    color: green;
}
title{
    font-family: Arial, Helvetica, sans-serif;
    font-display: green;
    background: green;
}
li{
    font-weight: bold;
    font-display: white;
    font-family: arial;
    background:black;
}
hi{
    background: black;
}

.no-underline{
    text-decoration: none;
}
/*hello*/
/*

.header {
    background:black;
}

.header li {
    list-style-type: none;
    display: flex;
}
*/

